<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.s3.mapper.CommentsMapper">
    <select id="getAll" resultType="com.s3.pojo.Comments">
        select * from comments where hotEventsId=#{id}
    </select>

    <insert id="add" parameterType="com.s3.pojo.Comments">
        insert into comments values (null,#{hotEventsId},now(),#{content})
    </insert>
</mapper>